@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

body {
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 2rem;
  background: linear-gradient(38deg, #ebb6f6 0%, #78caf0 80%);
}
#target {
  display: flex;
  margin-left: 8px;
  position: relative;
}
/* #target::after {
  content: "";
  position: absolute;
  height: 3rem;
  width: 5px;
  background: rgb(91, 145, 226);
  top: 0;
  transform: translateY(-4px);
  right: -5px;
  animation: anim 0.8s linear infinite;
}
@keyframes anim {
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
} */
@media screen and (max-width: 675px) {
  body {
    font-size: 21px;
  }
}
@media screen and (max-width: 550px) {
  body {
    font-size: 17px;
  }
}
